<!DOCTYPE html><html><head><title>ZOYI Corporation &mdash; Retail Computing</title><meta property="og:title" content="ZOYI Corporation"><meta property="og:description" content="리테일 컴퓨팅 회사 ZOYI는 기술을 통해 쇼핑의 과학을 만듭니다. 매장과 브랜드에게는 고도화된 분석 통계 서비스 워크인사이트를 제공하고 고객에게는 더 쉽고 간편한 쇼핑 경험을 제공합니다. 아시아 최고의 뷰티, 패션, 유통 브랜드들이 조이를 이용하고 있습니다."><meta property="og:image" content="https://zoyi.co/images/zoyi_og.jpg"><meta property="og:site_name" content="ZOYI Corporation"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta charset="utf-8">
<!-- Start: injected by AdGuard -->
<script src="//local.adguard.com/adguard-ajax-api/injections/content-script.js?ts=1515245897.770835&amp;sb=1&amp;domain=zoyi.co&amp;mask=103" type="text/javascript" nonce="1B91E84B773A4E1783B9C24994507FB0" crossorigin="anonymous"></script>
<script src="//local.adguard.com/adguard-ajax-api/injections/userscripts/Adguard Assistant?ts=1515245909.719531" type="text/javascript" nonce="1B91E84B773A4E1783B9C24994507FB0" crossorigin="anonymous"></script>
<!-- End: injected by AdGuard -->
<link rel="stylesheet" href="/stylesheets/bootstrap.css"><link rel="stylesheet" href="/stylesheets/font.css"><link rel="stylesheet" href="/stylesheets/app.css"><script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://zoyi.co",
  "name": "ZOYI Corporation",
  "logo": "http://static.zoyi.co/seo/zoyi.png",
  "foundingDate": "2014",
  "sameAs": [
    "https://www.facebook.com/teamzoyi"
  ],
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+82-1644-4052",
      "contactType" : "Sales & Customer Service",
      "contactOption" : "TollFree",
      "areaServed" : "KR"
    }
  ]
}
</script></head><body><script>window.channelPluginSettings = {
  "plugin_id": "b2b59139-f0cb-400d-b989-46a6793fdb3b",
  "locale": "ko"
};
(function() {
  var node = document.createElement('div');
  node.id = 'ch-plugin';
  document.body.appendChild(node);
  var async_load = function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  };
  if (window.attachEvent) {
    window.attachEvent('onload', async_load);
  } else {
    window.addEventListener('load', async_load, false);
  }
})();

</script><div class="c-header"><div class="c-header__container"><a href="/ko" class="c-header__link"><img src="/images/base/zoyi-logo-w.svg" class="c-header__logo"><img src="/images/base/zoyi-logo-w.svg" class="c-header__logo-small"></a><input id="zoyi-menu-btn" type="checkbox" class="zoyi-menu-btn"><label for="zoyi-menu-btn" class="zoyi-menu-icon"><div class="zoyi-navicon__wrapper"><span class="zoyi-navicon"></span><span class="zoyi-navicon"></span><span class="zoyi-navicon"></span></div></label><div class="zoyi-navi"><div class="zoyi-navi__bg"></div><ul class="zoyi-navi__list"><li><a href="/ko">홈</a></li><li><a href="/ko/about">멤버소개</a></li><li><a href="http://blog-kr.zoyi.co">블로그</a></li><li class="zoyi-navi__job"><a href="/ko/jobs">채용정보</a></li></ul></div></div></div><div style="overflow-x: hidden;min-width:320px;"><section class="main background"><div class="top-cover"></div><div class="top-content main-content"><div class="top-text"><div class="top-title main-title">개인화된 쇼핑 경험을 위해<br />
커머스가 필요로 하는 기술을<br />
제공합니다.</div><div class="top-description main-description">기술을 통해 온.오프라인을 넘나들며 개인화된 쇼핑 경험을 제공하는 것이 조이의 비전입니다. 이를 위해 커머스 기업들이 온라인과 오프라인의 데이터를 연결하고, 분석을 기반으로 고객관리와 마케팅을 할 수 있는 환경을 만들어 가고 있습니다.</div></div><img src="/images/index/zoyi-main-img-ko.png" class="top-image"></div></section><section class="wi-ch background"><div class="wi-ch-content main-content"><div class="wi-ch-wrapper"><div class="wi-ch-text"><div class="wi-ch-title main-title">핵심은 데이터입니다.</div><div class="wi-ch-description main-description">O2O 커머스 시대, 좋은 고객 경험 설계는 데이터 분석에서 시작합니다.<br />
ZOYI는 워크인사이트를 통해 오프라인 매장의 방문객 빅데이터를, 채널IO를 통해 온라인 쇼핑몰의 고객응대 데이터를 제공합니다.</div></div><img src="/images/index/zoyi-chart.png" class="wi-ch-image"></div></div></section><section class="channel background"><div class="channel-content main-content"><div class="channel-head"><img src="/images/index/ch-symbol.png" class="channel-head-image"><div class="channel-head-title main-title">앞서가는 비즈니스를 위한<br />
커뮤니케이션 채널</div></div><div class="channel-body"><div class="channel-text main-description"><div>채널은 온라인 고객과 대화하고 구매를 유도할 수 있는 툴입니다.<br /><br />
간편한 플러그인 설치로 모바일 세대를 위한 대화형 CRM을 시작하세요. 채널을 통해 고객의 문의를 즉시 해결 할 수 있습니다.</div><a target="_blank" type="button" href="https://channel.io/ko" class="btn-hero">채널 웹사이트</a></div><div class="channel-image-wrapper"><img src="/images/index/plugin-standby.png" class="channel-image-standby"><img id="channel-image-running" src="/images/index/plugin-running-ko.png" class="channel-image-running"></div></div></div></section><section class="walkinsights background"><div class="walkinsights-content main-content"><div class="walkinsights-text"><img src="/images/index/wi-logo.png" class="walkinsights-logo"><div class="walkinsights-title main-title">옴니채널은 오프라인<br />분석으로 완성됩니다</div><div class="walkinsights-description main-description">단순히 입구에 들어오는 방문객을 육안으로 세거나 카메라로 카운팅하는 수준을 넘어서, 오프라인도 온라인 어날리틱스 수준의 고도화 된 측정도구가 필요합니다.<br /><br />
오프라인 매장 분석 서비스 워크인사이트는 한중일 3개국의 1400개 매장에서 6,000개의 센서들을 통해 하루 2억 건의 데이터를 수집하고 분석한 결과를 고객에게 제공하고 있습니다.</div><a target="_blank" type="button" href="https://walkinsights.com/?locale=ko" class="btn-hero">워크인사이트 웹사이트</a></div><img src="/images/index/funnel-graph.png" class="walkinsights-image"></div></section><section class="investors background"><div class="main-content"><h1 class="investors-title main-title">최고의 벤처캐피탈들과 함께 있습니다</h1><img src="/images/index/partners.png" class="investors-image"></div></section><script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqDej9D5t9PX25wJw15XhhAwjC0K2wyvI"></script><script type="text/javascript">var map;
function initialize() {
  var latlng = "ko" === 'ko' ? { lat: 37.500422, lng: 127.034759 } : { lat: 35.687302, lng: 139.694648 }
  var mapOptions = {
    center: latlng,
    scrollwheel: false,
    draggable: false,
    zoom: 16
  };
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var marker = new google.maps.Marker({
    position: latlng,
    map: map
  });
  marker.setMap(map);
}
google.maps.event.addDomListener(window, 'load', initialize);
function setCenter(lat, lng) {
  var latlng = { lat: lat, lng: lng };
  map.setCenter(latlng);
  var marker = new google.maps.Marker({
    position: latlng,
    map: map
  });
  marker.setMap(map);
}</script><section class="contact-us background"><div class="contact-us-content main-content"><h1 class="contact-us-title main-title"></h1><div class="contact-us-map-wrapper"><div class="contact-us-map"><div id="map-canvas"></div></div><div class="contact-us-address"><div class="contact-us-kr"><h2>본사</h2><div class="map-detail"><p>서울시 강남구 테헤란로 141<br>KR타워 15층 (역삼동 646-20)<br>06132<br></p><p>support@zoyi.co<br>070-5056-1060</p></div></div></div></div></div></section></div><footer class="c-footer"><div class="zoyi-footer-container"><div class="zoyi-footer-left"><img src="/images/base/zoyi.png" class="zoyi-footer-logo"><div class="zoyi-footer-title"><div class="zoyi-footer-title-name">주식회사 조이코퍼레이션</div><div class="zoyi-footer-title-copyright">Copyright ZOYI Corporation. All rights reserved.</div></div></div><ul class="zoyi-footer-right"><li><a href="mailto:support@zoyi.co"><img src="/images/base/mail.png" class="footer-link"></a></li><li><a href="http://facebook.com/teamzoyi" target="_blank"><img src="/images/base/fb.png" class="footer-link"></a></li><li><div class="divider"></div></li><li class="footer-large"><a href="https://walkinsights.com/?locale=ko" target="_blank"><img src="/images/base/wi.png" class="footer-link wi-link"></a></li><li class="footer-small"><a href="https://walkinsights.com/?locale=ko" target="_blank"><img src="/images/base/wi-small.png" class="footer-link wi-link"></a></li><li class="footer-large"><a href="https://channel.io/ko" target="_blank"><img src="/images/base/ch.png" class="footer-link ch-link"></a></li><li class="footer-small"><a href="https://channel.io/ko" target="_blank"><img src="/images/base/ch-small.png" class="footer-link ch-link"></a></li></ul></div></footer><script src="/javascripts/lodash.core.js"></script><script src="/javascripts/moment.js"></script><script src="/javascripts/jquery.js"></script><script src="/javascripts/bootstrap.js"></script><script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.4/jquery.jcarousel.min.js"></script><script src="/javascripts/main.js"></script><script src="/javascripts/jquery.waypoints.min.js"></script><!-- twitter--><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script><!-- facebook--><div id="fb-root"></div><script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=253595308025739";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script><!-- google analytics--><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-61278625-1', 'auto');
ga('send', 'pageview');
</script><!-- waypoint--><script>function fadein() {
  setTimeout(function() {
    var image = document.getElementById('channel-image-running')
    image.className += " " + "channel-image-running-active"
  }, 500)
}

var renderChannelAnimationFired = false;
$('.channel-content').waypoint({
  handler: function() {
    if (!renderChannelAnimationFired) {
      renderChannelAnimationFired = true
      fadein()
    }
  },
  offset: '50%'
})</script></body></html>