extends ../layout
block content
  article
    if topic
      h2= topic.title
      = topic.description
      div= 'by ' + topic.author
    else
      h2 Welcome
      | This is server side javascript tutorial.
  ul
    li
      a(href='/topic/add') add
    if topic
      - rid = encodeURIComponent(topic['@rid'])
      li
        a(href='/topic/' + rid + '/edit') edit
      li
        a(href='/topic/' + rid + '/delete') delete
