h1 LOGIN
form(action='/auth/login', method='post')
  p
    input(type='text', name='username', placeholder='username')
  p
    input(type='password', name='password', placeholder='password')
  p
    input(type='submit', value='SUBMIT')
a(href='/auth/facebook') FACEBOOK
