extends ../layout
block content
  form(action='/auth/register', method='post')
    p
      input(type='text', name='username', placeholder='username')
    p
      input(type='password', name='password', placeholder='password')
    p
      input(type='text', name='displayName', placeholder='displayName')
    p
      input(type='submit', value='SUBMIT')
